#
# Configure internet monitor condition presenter running on a Raspberry Pi.
#

[Unit]
Description=Internet Status Raspberry Pi Presenter
After=network.target

[Service]
WorkingDirectory=/tmp
ExecStart=/usr/bin/internet-status_pi
KillMode=process

[Install]
WantedBy=multi-user.target
