[logging]
# Levels from the Python logging module:
#    CRITICAL  50
#    ERROR     40
#    WARNING   30
#    INFO      20
#    DEBUG     10
#    NOTSET    0
level = 40

[monitor]
interval = 15

[speedtest]
interval = 3600

[mqtt]
topic = internet
server=localhost

[sites]
ping-site_1
ping-site_2
ping-site_3
ping-site_4
ping-site_5
ping-site_6
ping-site_7
ping-site_8
ping-site_9
ping-site_10
ping-site_11
ping-site_12
ping-site_13
ping-site_14
ping-site_15
ping-site_16
ping-site_17
ping-site_18
ping-site_19
ping-site_20
ping-site_21
ping-site_22
ping-site_23
ping-site_24
